/********************   RESET ALL SETTINGS   ********************/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Rubik', sans-serif;
  /* #982bda7a */
}

/********************   VARIABLES   ********************/

:root{
  --btn-background-color : #60ddcb;
  --main-heading : 2.2rem;
  --sub-heading : 1.7rem;
  --shadow : 0 4px 8px 0 rgb(0 0 0 / 20%), 0 6px 20px 0 rgb(0 0 0 / 19%);
  --background-color : linear-gradient(to right, #8258ffbf,#25ccfebf );
}

/********************   HEADER - NAV BAR   ********************/

header{
  width: 100%;
  position: sticky;
  top: 0;
  z-index: 5;
}

.navbar{
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #c4ecea;
}

.logo{
  cursor: pointer;
}

.logo img{
  height: 35px;
  width: 180px;
  margin-top: 10px;
}

.nav-style{
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-style li{
  list-style: none;
}

.nav-style a{
  text-decoration: none;
  padding: 16px 20px;
  text-transform: uppercase;
  color: #7a2199;
}

.nav-style a:hover{
  color: #130016;
}

/********************   SECTION 1 - NAME   ********************/

.section1{
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%);
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.desc p{
  font-size: 3.5rem;
  color: #633d3d;
  padding-bottom: 1%;
}

.desc p span{
  color: #4b00ff;
}

.btn{
  font-size: 0.9em;
  border: 2px solid var(--btn-background-color);
  background: transparent;
  text-transform: uppercase;
  cursor: pointer;
  font-weight: bold;
  letter-spacing: 1px;
  position: relative;
  padding: 5px 15px;
  transition: all 0.3s ease-in-out;
  z-index: 1;
  box-shadow: var(--shadow);
}

.btn::before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--btn-background-color);
  z-index: -1;
  
  transition: transform 0.1s ease-in-out;
  transform: scaleX(0);
  transform-origin: left;
}

.btn:hover::before{
  transform: scaleX(1);
}

.btn a{
  text-decoration: none;
  color: #000000;
}

.profile{
  position: absolute;
  left: 50px;
  bottom: -65px;
  box-shadow: var(--shadow);
  border-radius: 3px;
  height: 25vh;
  width: 13vw;
  z-index: 1;
}

.profile img{
  height: 25vh;
  width: 13vw;
  border-radius: 3px;
}

/********************   SECTION 1 - SOCIAL MEDIA LINKS   ********************/

.social-links {
  display: flex;
}

.social-btn {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  height: 50px;
  width: 50px;
  font-family: 'Titillium Web', sans-serif;
  color: #333;
  border-radius: 10px;
  box-shadow: 0px 10px 10px rgba(0,0,0,0.1);
  background: white;
  margin: 5px;
  transition: 1s;
}

.social-btn a {
  width: 0px;
  overflow: hidden;
  transition: 1s;
  text-align: center;
  text-decoration: none;
  color: #000000;
}

.social-btn:hover {
  width: 150px;
  border-radius: 5px;
}

.social-btn:hover a {
  padding: 2px;
  width: max-content;
}

#linkedin svg {
  fill: #0e76a8;
}

#github {
  fill: #333;
}

/********************   SECTION 2 - ABOUT   ********************/

.section2{
  width: 100%;
}

.heading-1{
  padding: 1% 10%;
  font-size: var(--main-heading);
  text-transform: uppercase;
  border-radius: 10px;
  text-align: center;
  color: white;
}

.intro{
  width: 100%;
  margin-top: 19%;
  padding: 4% 5% 5% 5%;
  overflow:hidden;
  position: relative; 
}

.intro p{
  font-size: 1.5rem;
  padding-bottom: 2%;
  color: white;
}

.intro::after{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  transform: skewY(-4deg);
  background: var(--background-color);
  transform-origin: bottom left;
  z-index: -1;
}

.resume-btn {
  color: white;
  border: 2px solid white;
}

.resume-btn::before{
  background-color: white;
}

.resume-btn a{
  color: black;
}

/********************   SECTION 3 - PROJECT   ********************/

.heading-2{
  padding: 1%;
  font-size: var(--main-heading);
  text-transform: uppercase;
  text-align: center;
  margin-top: 6%;
}

.container{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  margin-top: 4%;
}

.container:nth-child(odd){
  flex-direction: row-reverse;
}

.left{
  height: 330px;
  width: 600px;
  padding : 10% 3% 0% 5%;
}

.sub-heading{
  font-size: var(--sub-heading);
}

.left p{
  padding: 5% 0;
}

.left a{
  color: var(--btn-background-color);
  text-decoration: none;
  margin-left: 15px;
}

.right img{
  height: 400px;
  width: 600px;
}

/********************   SECTION 4 - CONTACT   ********************/

.section4{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 6%;
  padding: 4% 5% 5% 5%;
  overflow:hidden;
  position: relative;
}

.section4::before{
  content:"";
  position:absolute;
  top:0;
  left:0;
  height: 100%;
  width:100%;
  transform: skewY(-4deg);
  background: var(--background-color);
  transform-origin: bottom right;
  z-index: -1;
}

.contact{
  padding-bottom: 3%;
}

/********************   FOOTER   ********************/

footer{
  display: flex;
  justify-content: center;
  background-color: #c4ecea;
}

.foot p{
  display: flex;
  align-items: center;
  height: 17vh;
  font-size: var(--main-heading);
}

/********************   MEDIA QUERY   ********************/

@media screen and (max-width: 768px) {
  :root{
    --main-heading : 1.8rem;
  }
  header{
    position: unset;
  }
  .navbar{
    flex-direction: column;
  }
  .nav-style{
    flex-direction: column;
    line-height: 3;
  }
  .section1{
    height: 60vh;
  }
  .desc p{
    font-size: 1.7rem;
    margin-bottom: 4%;
  }
  .btn{
    font-size: 0.7em;
  }
  .social-btn{
    margin-top: 9%;
  }
  .profile{
    bottom: -50px;
    height: 18vh;
    width: 27vw;
  }
  .profile img{
    height: 18vh;
    width: 27vw;
  }
  .intro{
    margin-top: 30%;
    padding-bottom: 15%;
  }
  .intro p{
    font-size: 1.2rem;
    margin-top: 5%;
  }
  .resume-btn{
    margin-top: 5%;
  }
  .left{
    height : 295px;
  }
  .left p{
    padding-bottom: 7%;
  }
  .right{
    display: flex;
    justify-content: center;
  }
  .right img{
    height: 90%;
    width: 90%;
  }
  .foot p{
    font-size: 1.2rem;
  }
}